{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="row text-center mt-4">

    <div class="quotes-section mt-5">
        <blockquote class="blockquote text-center">
            <p class="quote-text">"Do not compare, do not measure. No other way is like yours.
                All other ways deceive and tempt you.
                You must fulfill the way that is in you."</p>
            <footer class="blockquote-footer">Carl Jung</footer>
        </blockquote>
        <blockquote class="blockquote text-center">
            <p class="quote-text">"Nobody will stop you from creating. Do it tonight. Do it tomorrow.
                That is the way to make your soul grow."</p>
            <footer class="blockquote-footer">Kurt Vonnegut</footer>
        </blockquote>
        <blockquote class="blockquote text-center">
            <p class="quote-text">"Where words fail, music speaks."</p>
            <footer class="blockquote-footer">Hans Christian Andersen</footer>
        </blockquote>
    </div>


    <div class="col-md-4" class="category-link">
        <div class="category-container">
            <a href="/blog">
                <img src="{{ url_for('static', filename='nature.jpg') }}" class="category-image" alt="Blog">
                <div class="overlay-text">Blog</div>
        </div>
        </a>
    </div>
    <div class="col-md-4" class="category-link">
        <div class="category-container">
            <a href="/music/acoustic">
                <img src="{{ url_for('static', filename='acoustic.jpg') }}" class="category-image" alt="Acoustic">
                <div class="overlay-text">Acoustic</div>
        </div>
        </a>
    </div>
    <div class="col-md-4" class="category-link">
        <div class="category-container">
            <a href=" /music/band">
                <img src="{{ url_for('static', filename='band.jpg') }}" class="category-image" alt="Band">
                <div class="overlay-text">Band</div>
        </div>
        </a>
    </div>
</div>
{% endblock %}