{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="row text-center mt-4">
    <div class="col-md-4">
        <a href="/blog">
            <img src="{{ url_for('static', filename='nature.jpg') }}" class="category-image" alt="Blog">
        </a>
        <h3>Blog</h3>
    </div>
    <div class="col-md-4">
        <a href="/music/acoustic">
            <img src="{{ url_for('static', filename='acoustic.jpg') }}" class="category-image" alt="Acoustic">
        </a>
        <h3>Acoustic</h3>
    </div>
    <div class="col-md-4">
        <a href="/music/band">
            <img src="{{ url_for('static', filename='band.jpg') }}" class="category-image" alt="Band">
        </a>
        <h3>Band</h3>
    </div>
</div>
{% endblock %}