{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="row text-center mt-4">
    <div class="col-md-4" class="category-link">
        <div class="category-container">
            <a href="/blog">
                <img src="{{ url_for('static', filename='nature.jpg') }}" class="category-image" alt="Blog">
                <div class="overlay-text">Blog</div>
        </div>
        </a>
    </div>
    <div class="col-md-4" class="category-link">
        <div class="category-container">
            <a href="/music/acoustic">
                <img src="{{ url_for('static', filename='acoustic.jpg') }}" class="category-image" alt="Acoustic">
                <div class="overlay-text">Acoustic</div>
        </div>
        </a>
    </div>
    <div class="col-md-4" class="category-link">
        <div class="category-container">
            <a href=" /music/band">
                <img src="{{ url_for('static', filename='band.jpg') }}" class="category-image" alt="Band">
                <div class="overlay-text">Band</div>
        </div>
        </a>
    </div>
</div>
{% endblock %}